body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: 0.3s;
}

nav .logo {
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: 0.3s;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	line-height: 80px;
	color: #000000;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
}

nav.black ul li a {
	color: #fff;
}

nav ul li a:focus {
	outline: none;
}

nav ul li a.active {
	background: #242222;
	color: #fff;
	border-radius: 6px;
}

section.sec1 {
	width: 100%;
	height: 100vh;
	background: url(https://uploaddeimagens.com.br/images/003/781/298/original/my-bg.jpg?1647652550);
	background-position: cover;
	background-position: center;
}

.content {
	margin-top: 80px;
}

.content p {
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size: 22px;
}

.image-logo {
	max-width:150px;
    max-height:75px;
    width: auto;
    height: auto;
}

a:hover {
	background: #242222;
	color: #fff;
	border-radius: 7px;
	transition: 0.8s;
}